[Desktop Entry]
Version=1.0
Type=Application
Name=Micropolis
Comment=Classic real-time city management simulator
Exec=micropolis
TryExec=micropolis
Icon=micropolis
Terminal=false
Categories=Game;Simulation;
Keywords=simulation;city;building;game;real-time;
StartupNotify=true
